@import "tailwindcss";
/* @plugin "tailwindcss-animate"; */

@theme {
  /* Colors */
  --color-primary-500: #877EFF;
  --color-secondary-500: #FFB620;
  --color-blue: #0095F6;
  --color-logout-btn: #FF5A5A;
  --color-navbar-menu: rgba(16, 16, 18, 0.6);
  --color-dark-1: #000000;
  --color-dark-2: #121417;
  --color-dark-3: #101012;
  --color-dark-4: #1F1F22;
  --color-light-1: #FFFFFF;
  --color-light-2: #EFEFEF;
  --color-light-3: #7878A3;
  --color-light-4: #5C5C7B;
  --color-gray-1: #697C89;
  --color-glassmorphism: rgba(16, 16, 18, 0.60);

  /* Text */
  --text-heading1-bold: 2.25rem;
  --text-heading1-bold--line-height: 1.4;
  --text-heading1-bold--font-weight: 700;

  --text-heading1-semibold: 2.25rem;
  --text-heading1-semibold--line-height: 1.4;
  --text-heading1-semibold--font-weight: 600;

  --text-heading2-bold: 1.875rem;
  --text-heading2-bold--line-height: 1.4;
  --text-heading2-bold--font-weight: 700;

  --text-heading2-semibold: 1.875rem;
  --text-heading2-semibold--line-height: 1.4;
  --text-heading2-semibold--font-weight: 600;

  --text-heading3-bold: 1.5rem;
  --text-heading3-bold--line-height: 1.4;
  --text-heading3-bold--font-weight: 700;

  --text-heading4-medium: 1.25rem;
  --text-heading4-medium--line-height: 1.4;
  --text-heading4-medium--font-weight: 500;

  --text-body-bold: 1.125rem;
  --text-body-bold--line-height: 1.4;
  --text-body-bold--font-weight: 700;

  --text-body-semibold: 1.125rem;
  --text-body-semibold--line-height: 1.4;
  --text-body-semibold--font-weight: 600;

  --text-body-medium: 1.125rem;
  --text-body-medium--line-height: 1.4;
  --text-body-medium--font-weight: 500;

  --text-body-normal: 1.125rem;
  --text-body-normal--line-height: 1.4;
  --text-body-normal--font-weight: 400;

  --text-base-regular: 1rem;
  --text-base-regular--line-height: 1.4;
  --text-base-regular--font-weight: 400;

  --text-subtle-medium: 0.75rem;
  --text-subtle-medium--line-height: 16px;
  --text-subtle-medium--font-weight: 500;

  /* Shadows */
  --shadow-count-badge: 0px 0px 6px 2px rgba(219, 188, 159, 0.30);
  --shadow-groups-sidebar: -30px 0px 60px 0px rgba(28, 28, 31, 0.50);

  /* Breakpoints */
  --breakpoint-xs: 400px;
  --breakpoint-2xl: 1400px;

  /* Animations */
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  --animation-accordion-down: accordion-down 0.2s ease-out;
  --animation-accordion-up: accordion-up 0.2s ease-out;
}

@layer components {
  /* main */
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center bg-dark-1 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
  }

  /* Head Text */
  .head-text {
    @apply text-heading2-bold text-light-1;
  }

  /* Activity */
  .activity-card {
    @apply flex items-center gap-2 rounded-md bg-dark-2 px-7 py-4;
  }

  /* No Result */
  .no-result {
    @apply text-center !text-base-regular text-light-3;
  }

  /* Community Card */
  .community-card {
    @apply w-full rounded-lg bg-dark-3 px-4 py-5 sm:w-96;
  }

  .community-card_btn {
    /* @apply rounded-lg bg-primary-500 px-5 py-1.5 text-small-regular !text-light-1 !important; */
    @apply rounded-lg bg-primary-500 px-5 py-1.5 !text-light-1;
  }

  /* thread card  */
  .thread-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-neutral-800;
  }

  /* User card */
  .user-card {
    @apply flex flex-col justify-between gap-4 max-xs:rounded-xl max-xs:bg-dark-3 max-xs:p-4 xs:flex-row xs:items-center;
  }

  .user-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
  }

  .user-card_btn {
    @apply h-auto min-w-[74px] rounded-lg bg-primary-500 text-[12px] text-light-1;
  }

  .searchbar {
    @apply flex gap-1 rounded-lg bg-dark-3 px-4 py-2;
  }

  .searchbar_input {
    /* @apply border-none bg-dark-3 text-base-regular text-light-4 outline-none !important; */
    @apply border-none bg-dark-3 text-light-4 outline-none;
  }

  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between bg-dark-2 px-6 py-3;
  }

  .bottombar {
    @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-lg xs:px-7 md:hidden;
  }

  .bottombar_container {
    @apply flex items-center justify-between gap-3 xs:gap-5;
  }

  .bottombar_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }

  .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-dark-4 bg-dark-2 pb-5 pt-28 max-md:hidden;
  }

  .leftsidebar_link {
    @apply relative flex justify-start gap-4 rounded-lg p-4;
  }

  .pagination {
    @apply mt-10 flex w-full items-center justify-center gap-5;
  }

  .rightsidebar {
    @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-dark-4 bg-dark-2 px-10 pb-6 pt-28 max-xl:hidden;
  }
}

@utility css-invert {
  @apply invert-[50%] brightness-200;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }
}

@utility custom-scrollbar {
  &::-webkit-scrollbar-track {
    background: #09090a;
  }
}

@utility custom-scrollbar {
  &::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }
}

@utility custom-scrollbar {
  &::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

/* Clerk Responsive fix */
.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
  @apply max-sm:hidden;
}

.cl-organizationSwitcherTrigger
  .cl-organizationPreview
  .cl-organizationPreviewTextContainer {
  @apply max-sm:hidden;
}

/* Shadcn Component Styles */

/* Tab */
.tab {
  @apply flex min-h-[50px] flex-1 items-center gap-3 bg-dark-2 text-light-2 data-[state=active]:bg-[#0e0e12] data-[state=active]:text-light-2;
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0;
}

/* Account Profile  */
.account-form_image-label {
  @apply flex h-24 w-24 items-center justify-center rounded-full bg-dark-4;
}

.account-form_image-input {
  @apply cursor-pointer border-none bg-transparent outline-none file:text-blue;
}

.account-form_input {
  @apply border border-dark-4 bg-dark-3 text-light-1;
}

/* Comment Form */
.comment-form {
  @apply mt-10 flex items-center gap-4 border-y border-y-dark-4 py-5 max-xs:flex-col;
}

.comment-form_btn {
  /* @apply rounded-3xl bg-primary-500 px-8 py-2 !text-small-regular text-light-1 max-xs:w-full; */
  @apply rounded-3xl bg-primary-500 px-8 py-2 text-light-1 max-xs:w-full;
}
